// color

$primary:   #873F3C;
$secondary: #C68F36;
$tertiary:  #9E8F92;
$bis:       #96B0A2;

$light:     #E0E8E4;
$dark:      #25282F;

$success:   #578E4A;
$warning:   #DD7E12;
$danger:    #c7443b;

$white:     #fff;
$black:     #000;
