@import "_variables.scss";

body {
    background-color: $dark;
}

h1, p {
    color: $white;
}

button {
    cursor: pointer;
}

// START PAGE
// --------------------------------------------------------
.start__header {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

// GAME PAGE
// --------------------------------------------------------

// header
.game__header {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    &-player {
        content: '';
        border: 2px solid $white;
        border-radius: 10px;
        width: 150px;
        height: 20px;
    }
}

#player1 {
    background-color: $primary;
}
#player2 {
    background-color: $secondary;
}

// content
.game__content {
    text-align: center;
    &-box {
        position: relative;
        content: '';
        border: 2px solid $white;
        width: 70%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
    &-button {
        margin: 3rem;
    }
}

.point {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
}