<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <!-- ./dart-sass/sass sass/style.scss style.css --watch -->
    
    <header class="game__header">
        <div>
            <div id="player1" class="game__header-player"></div>
            <p>Player 1</p>
        </div>

        <div>
            <div id="player2" class="game__header-player"></div>
            <p>Player 2</p>
        </div>
    </header>

    <main class="game__content">
        <div id="gameBox" class="game__content-box">
            
        </div>
        <button id="btnPlay" class="game__content-button" type="button">Start</button>
        <button id="btnStop" class="game__content-button" type="button">Stop</button>
    </main>

    <script src="../javascript/javascript.js"></script>
  </body>
</html>